p {
font-family: Arial, sans-serif;
}

#titulo-principal {
color: blue;
}

.destaque {
background-color: yellow;
}





input[type="password"] {
border: 2px solid blue;
}





.importante {
color: red;
}





button:hover {
background-color: lightgreen;
}